body {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 30px;
}

.jumbotron {
    color: white;
    padding-top: 50px;
}

.lead {
    padding-top: 10px;
    text-align: left;
    color: white;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    width: auto;
}

.display-4 {
    color: white;
}

.form-label {
    color: white;
}